menuconfig MACH_XSCALE_PALMTX
	bool "Palm TX"
	select PXA27x
	help
	  This enables support for Palm TX handheld.

config  PALMTX_DEBUG
	bool "Debug output for Palm TX"
	depends on MACH_XSCALE_PALMTX
	default n 
	help
	  Enable core debug output for Palm TX modules.
	  
config  PALMTX_PM
        tristate "Palm TX Power Management support"
	depends on MACH_XSCALE_PALMTX
	default y if MACH_PALMTX
	help
	    Enable support for suspend/resume the Palm TX PDA.

config PALMTX_DISABLE_BORDER
	bool "Disable display border"
	depends on MACH_XSCALE_PALMTX
	help
	  Some displays can disable white border. This could allow it.
	  This makes screen bigger for 4 pixels in both directions.

config  PALMTX_PCMCIA
        tristate "Palm TX PCMCIA driver"
        depends on MACH_XSCALE_PALMTX
        help
            This driver handles the CF/PCCARD/PCMCIA bus.
