menuconfig MACH_XSCALE_TREO680
	bool "Palm Treo 680"
	select PXA27x
	select KEYBOARD_PXA27x
	help
		Say Y here if you intend to run this kernel on a
		Palm Treo 680. Currently there is only basic support
		for this PDA.

config PALMT680_GSM
	bool "Palm Treo 680 GSM support"
	depends on MACH_XSCALE_TREO680
	default y
	help
		This module provides support for controlling power to
		the GSM baseband processor in the Treo 680.  Say Y here
		if you are unsure.
