menuconfig MACH_HTCBEETLES
	bool "HTC Beetles (hPaq hw65xx)"
	select PXA27x
	select BOARD_IRQ_MAP_BIG
	help
		Say Y here if you intend to run this kernel on a
		HTC Beetles (iPAQ hw651x). Currently there is only basic support
		for this PDA.

config HTCBEETLES_TS
	tristate "Beetles TS driver (BROKEN, DEPRECATED, use ts-adc instead)"
	depends on MACH_HTCBEETLES
	help
	  BROKEN, DEPRECATED, use ts-adc instead
