menuconfig MACH_PALMZ72
	bool "Palm Zire 72"
	select PXA27x
	select KEYBOARD_PXA27x
	help
	  This enables support for PalmOne Zire 72 handheld.

config  PALMZ72_PM
        tristate "Palm Zire 72 Power Management support"
	depends on MACH_PALMZ72
	default y if MACH_PALMZ72
	help
	    Enable support for suspend/resume the PalmOne Zire 72 PDA.

